.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

.site-main {
    transform: translateY(-0.25em);
    transition: opacity 0.2s ease-in, transform 0.4s ease-in-out;
    transition-delay: 0.3s;
}

body.loaded .site-nav li {
    opacity: 1;
    transform: translateY(1.2em);
}


@media (min-width: 1024px) {
    .site-header {
        display: flex;
    }
    .site-header nav {
        margin-left: auto;
    }



}


