<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
<div class="site">
    <header class="site-header">
        <a href="/">Main</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
    </header>
    <main class="site-main">

        {{content}}


    </main>

    <aside class="site-sidebar"></aside>
    <footer class="site-footer">
        <p>All rights reserved &copy; ldj5</p>
    </footer>
</div>
</body>
</html>
